<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCameraUsageDescription</key>
  <string>BetterComms uses your camera when you enable video in a call.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>BetterComms uses your microphone when you enable audio in a call.</string>
  <key>NSScreenCaptureUsageDescription</key>
  <string>BetterComms uses screen recording when you choose to share your screen.</string>
</dict>
</plist>
